@import "/src/base.module.scss";

.wrapper {
  background-image: url(/src/assets/images/bg-stars.svg);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  background-color: $color-purple;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  align-items: center;

  .title {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    font-size: 2rem;
    text-align: center;
  }

  .cdWrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    @include for-desktop-up {
      max-width: 40rem;
    }
    .counter {
      @include directionX;
      gap: 1rem;
      @include for-desktop-up {
        gap: 2rem;
      }
      .date {
        width: 25%;
        .dateText {
          width: 100%;
          height: 4rem;
          background-color: $color-dark-blue;
          color: $color-pink;
          @include directionY;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          border-radius: 0.5rem;
          box-shadow: 0 0.25rem $color-neutral-very-dark-blue-2;

          @include for-desktop-up {
            height: 6rem;
            font-size: 3rem;
          }
        }

        .dateTitle {
          margin-top: 0.5rem;
          width: 100%;
          font-size: 0.75rem;
          color: $color-primary-grayishblue;
          text-align: center;
          @include for-desktop-up {
            margin-top: 1rem;
            font-size: 1rem;
          }
        }

        .decoration {
          opacity: 0.3;
          position: relative;
          border-radius: 0.5rem 0.5rem 0 0;
          z-index: 10;
          opacity: 0.3rem;
          margin-bottom: -2rem;
          height: 2rem;
          width: 100%;
          background-color: $color-neutral-very-dark-blue-2;
          @include for-desktop-up {
            height: 3rem;
            margin-bottom: -3rem;
          }
        }

        .decoration2 {
          position: relative;
          z-index: 10;
          height: 0.5rem;
          width: 100%;
          @include directionX;
          justify-content: space-between;
          .circleLeft,
          .circleRight {
            margin-top: -3.75rem;
            width: 0.25rem;
            height: 0.5rem;
            background-color: $color-neutral-very-dark-blue-2;
          }

          .circleLeft {
            border-radius: 0 1rem 1rem 0;
          }

          .circleRight {
            border-radius: 1rem 0 0 1rem;
          }

          @include for-desktop-up {
            .circleLeft,
            .circleRight {
              margin-top: -5.75rem;
            }
          }
        }
      }
    }
  }

  .mountain {
    @include directionX;
    justify-content: end;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12.3rem;
    gap: 4rem;
    background-repeat: no-repeat;
    background-image: url(/src/assets/images/pattern-hills.svg);
    justify-content: center;
    align-items: end;
    padding: 4rem;
    box-sizing: border-box;
    background-position: -16.3rem;

    @include for-desktop-up {
      background-position: center;
    }

    .sosmed {
      cursor: pointer;
    }

    .sosmed:hover {
      filter: invert(54%) sepia(59%) saturate(2361%) hue-rotate(310deg) brightness(98%) contrast(100%);
    }
  }
}
