$color-primary-grayishblue: hsl(237, 18%, 59%);
$color-primary-soft-red: hsl(345, 95%, 68%);
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-dark-blue: hsl(236, 21%, 26%);
$color-neutral-very-dark-blue: hsl(235, 16%, 14%);
$color-neutral-very-dark-blue-2: hsl(234, 17%, 12%);
$color-purple: #231d2b;
$color-purple-2: #30243a;
$color-dark-blue: #34364f;
$color-pink: #fd5f86;

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin directionY {
  display: flex;
  flex-direction: column;
}

@mixin directionX {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  font-family: "Red Hat Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;

  color-scheme: light dark;
  color: $color-neutral-white;
  background: $color-purple;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
